

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: linear-gradient(45deg, #456FE8, #19B0EC);
}

.main{
    width: 60vw;
    height: 65vh;
    -webkit-backdrop-filter: blur(11px) saturate(180%);
    backdrop-filter: blur(11px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main h1{
    font-family: 'Wellfleet';
    font-size: 2.4rem;
    -webkit-user-select: none;
    user-select: none;
}

.top{
    display: flex;
    gap: 20px;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    justify-content: space-between;
    padding: 40px 60px;
}

.nums ul, .ops ul, .work ul{
    list-style: none;
    padding: 10px;
    border-radius: 30px;
}

.nums ul{
    margin-left: -30px;
}

.nums ul li, .ops ul li, .work ul li{
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 1.7rem;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    text-align: center;
    cursor: pointer;
    transition: .4s color ease, .4s transform ease;
    -webkit-user-select: none;
    user-select: none;
}

.nums ul li:hover, .ops ul li:hover{
    background-color: #fff;
    color: #19B0EC;
    transform: scale(1.1);
}

.target{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    border: 2px solid #fff;
    border-radius: 10px;
}

.work{
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#warning{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    padding: 8% 5% 0 5%;
}

.btns button{
    width: 150px;
    height: 55px;
    border-radius: 55px;
    outline: none;
    border: none;
    -webkit-backdrop-filter: blur(11px) saturate(180%);
    backdrop-filter: blur(11px) saturate(180%);
    background-color: #1845ca;
    font-size: 1.3rem;
    color: #fff;
    margin-left: 20px;
    box-shadow: 6px 3px 3px #000;
    cursor: pointer;
    font-family: 'Wellfleet';
    transition: .4s all ease;
    -webkit-user-select: none;
    user-select: none;
}

.btns button:hover{
    transform: scale(1.1);
}

#next{
    background-color: #a5a5a5;
    opacity: .4;
    pointer-events: none;
}

#next:hover{
    transform: scale(1);
}

#level{
    font-size: 2.4rem;
    font-family: 'Wellfleet';
    color: #fff;
    position: absolute;
    top: 25px;
    right: 25px;
}

#level span{
    font-family: 'Wellfleet';
}


